# Android Studio
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Gradle
.gradle/
local.properties

# Build
/build/
captures/

# Native build
.externalNativeBuild/
.cxx/

# OS
.DS_Store*.backup.kt
*.backup.kt
*.before-*.kt
